.ant-layout-sider-trigger{
    color: #000 !important;
    background: #d9d9d9 !important;
}

.IconFont{
    font-size: 18px;
    cursor: pointer;
}
.ant-drawer-body{
    padding: 0px;
}

.gggY{
    vertical-align: middle;
    margin-top: -10px;
}